
li{
    display:inline;
    padding: 10px 40px;
}
.error {
    color: red
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table#results {
  font-family: Roboto, Arial, "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table#results td, table#results th {
  border: 1px solid #ddd;
  padding: 8px;
}

table#results tr:nth-child(even){background-color: #f2f2f2;}

.cellinfo{
  position: relative;
}
.info{
  display:none;
  position:absolute;
  z-index:100;
  bottom: 125%;
  left: 50%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  width: 120px;
}

.info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.cellinfo:hover .info{
  display:block;
}

table#results tr:hover {
  background-color: #ddd;
}
table#results tr {
   border-collapse: collapse;
}

table#results th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #033C73;
  color: white;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

