<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>


    <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="nutrition">Nutrition</a>
                    </li>
                    <li role="presentation"><a href="workout">Workout</a>
                    </li>
                    <li role="presentation"><a href="goals">Goals</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a>
                    </li>
                    <li role="presentation"><a href="friends">Friends</a>
                    </li>
                    <li role="presentation"><a href="news">News</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">Sign Out</a>
                    </li>
                </ul>
            </nav>
            <h1>Profile</h1>

        </div>

        <div class="jumbotron">
        <h2>Personal Info</h2>
        <form class="form-update">
        <table>
        
           <tr>
                <th>Weight</th>
                <td> <input name="weight" id="weight" class="form-control" placeholder="weight"> </td>
           </tr>
           <tr>
                <th>Height</th>
                <td> <input name="height" id="height" class="form-control" placeholder="height"> </td>
           </tr>
           <tr>
                <th>Progress</th>
                <td> stat </td>
           </tr>

        </table>

        <button id="edit_done" class="btn btn-sm btn-primary" type="button">Done</button>
        
        </form>
        </div>
        
        <div class="jumbotron">
        <h2>Health Statistics</h2>
        <table>
        
           <tr>
                <th>TDEE</th>
                <td>  </td>
           </tr>
           <tr>
                <th>BMI</th>
                <td>  </td>
           </tr>

        </table>
        </div>

        <footer class="footer">
            <p>&copy; O.K 2019</p>
        </footer>

    </div>
</body>

</html>