    <!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>


    <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="nutrition">Nutrition</a>
                    </li>
                    <li role="presentation"><a href="workout">Workout</a>
                    </li>
                    <li role="presentation"><a href="goals">Goals</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a>
                    </li>
                    <li role="presentation"><a href="news">News</a>
                    </li>
                    <li role="presentation"><a href="signOut">Sign Out</a>
                    </li>
                </ul>
            </nav>
            <h1>Goals</h1>

        </div>

        <div class="jumbotron">
            <div class="row">
                <button type="button" class="btn btn-success">
                    <a href="edit_goals"  style="color: rgb(255,255,255)">Edit</a>
                </button>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <table id="results">
                        <tr>
                            <th>Weight</th>
                            <th></th>
                        </tr>
                       <tr>
                            <td>Goal Weight</td>
                            <td>{{goal_lbs}} lbs</td>
                       </tr>
                        <tr>
                            <td>Current</td>
                            <td>{{cur_weight}} lbs</td>
                       </tr>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6">
                    <table id="results">
                        <tr>
                            <th>Calories</th>
                            <th></th>
                        </tr>
                       <tr>
                            <td>Goal Daily Calories</td>
                            <td>{{goal_cals}} cals</td>
                       </tr>
                        <tr>
                            <td>Today's Calories</td>
                            <td>{{today_cals}} cals</td>
                       </tr>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6">
                    <table id="results">
                        <th>Fitness Goal</th>
                        <th>Personal Record</th>
                      {%if run_bool %}
                        <tr>
                            <td>Best 5k Time</td>
                            <td>data</td>
                        </tr>
                      {% endif %}
                      {%if lift_bool %}
                        <tr>
                                <td>Bench PR</td>
                                <td>data</td>
                        </tr><tr>
                                <td>Squat PR</td>
                                <td>data</td>
                        </tr><tr>
                                <td>Deadlift PR</td>
                                <td>data</td>
                        </tr>
                      {% endif %}
                    </table>
                </div>
            </div>
        </div>


        <div class="jumbotron">
        <h2>Motivation</h2>
        <table>

           <tr>
                <th>{{quote}}</th>
           </tr>

        </table>
        </div>


        <footer class="footer">
            <p>&copy; O.K 2019</p>
        </footer>

    </div>
</body>

</html>