<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>


    <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="nutrition">Nutrition</a>
                    </li>
                    <li role="presentation"><a href="workout">Workout</a>
                    </li>
                    <li role="presentation"><a href="goals">Goals</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a>
                    </li>
                    <li role="presentation"><a href="news">News</a>
                    </li>
                    <li role="presentation"><a href="signOut">Sign Out</a>
                    </li>
                </ul>
            </nav>
            <h1>Home</h1>
        </div>

            <h2> Hi, {{user}}! </h2>
            <div class="jumbotron">
            <h2>Calories</h2>

            </table>
            </div>
            <div class="jumbotron">
            <h2>Today's Workout</h2>
            </div>
            <div class="jumbotron">
            <h2>Graphs</h2>
            </div>
            <div class="jumbotron">
            <h2>Motivation</h2>
            </div>


        <footer class="footer">
            <p>&copy; O.K 2019</p>
        </footer>

    </div>
</body>

</html>