<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>


    <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.1.0.min.js"></script>
    <!-- <script src="../static/js/editFood.js"></script> -->

</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="nutrition">Nutrition</a>
                    </li>
                    <li role="presentation"><a href="workout">Workout</a>
                    </li>
                    <li role="presentation"><a href="goals">Goals</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a>
                    </li>
                    <li role="presentation"><a href="news">News</a>
                    </li>
                    <li role="presentation"><a href="signOut">Sign Out</a>
                    </li>
                </ul>
            </nav>
            <h1>Nutrition</h1>
        </div>

        <div class="jumbotron">
            <h2>Add Food</h2><a href="searchFood">Search</a>
        </div>

        <h2>What You Ate Today</h2>
        <div class="jumbotron">
            <div class="row">
                <!-- so columns # have to add up to 12. md/lg specifies the screensize -->
                <!-- source: https://www.w3schools.com/bootstrap/bootstrap_grid_system.asp -->
                <div class="col-md-6 col-lg-6">
                    <table>
                       <tr>
                            <th><pre>Calories</pre></th>
                            <td><pre>{{cal}} cal</pre></td>
                            {% if workout_done %}
                            <td><pre> - {{workout_cal}} cal (exercise)</pre></td>
                            <td><pre> = {{net_cal}} cal</pre></td>
                            {% endif %}
                       </tr>
                       <tr>
                            <th><pre>Carbohydrates</pre></th>
                            <td><pre>{{carbs}} g</pre></td>
                       </tr>
                       <tr>
                            <th><pre>Protein</pre></th>
                            <td><pre>{{protein}} g</pre></td>
                       </tr>

                       <tr>
                            <th><pre>Fat</pre></th>
                            <td><pre>{{fat}} g </pre></td>
                       </tr>

                    </table>
                </div>
                <div class="col-md-6 col-lg-6">
             <!--        {% if food_ids %}
                    <div class="row"> -->
                        <script>
                            $(function() {
                                $('#editFood').click(function() {

                                    $.ajax({
                                        url: '/editFood',
                                        data: $('form').serialize(),
                                        type: 'POST',
                                        success: function(response) {
                                            console.log(response);
                                            window.location.href = "nutrition"
                                        },
                                        error: function(error) {
                                            console.log(error);
                                        }
                                    });
                                });
                            });
                        </script>
                        <button id="editFood" class="btn btn-sm btn-primary" type="button">Edit</button>
 <!--                    </div>
                    {% endif %} -->
                    <form class="form-update">
                    <table id="results">
                        <tr>
                            <th> Food Name</th>
                            <th> Serving Size</th>
                            <th> Edit Serving </th>
                        </tr>
                        {% for f,s,m in food_ids %}
                        {% if m != "" %}
                            <tr><th colspan="3" bgcolor="#65B7B7">{{m}}</th></tr>
                        {% endif %}
                            <tr>
                                <td>{{f.name}}</td>
                                <td>{{s}} x {{f.serving}}</td>
                                <td><input type="number" name="s"/>
                                    <input type="hidden" name="f" value="{{f.mfp_id}}"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
                </div>
            </div>

        </div>


        <footer class="footer">
            <p>&copy; O.K 2019</p>
        </footer>

    </div>
</body>

</html>