<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>


    <link href="https://bootswatch.com/4/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a>
                    </li>
                    <li role="presentation"><a href="nutrition">Nutrition</a>
                    </li>
                    <li role="presentation"><a href="workout">Workout</a>
                    </li>
                    <li role="presentation"><a href="goals">Goals</a>
                    </li>
                    <li role="presentation"><a href="profile">Profile</a>
                    </li>
                    <li role="presentation"><a href="news">News</a>
                    </li>
                    <li role="presentation"><a href="signOut">Sign Out</a>
                    </li>
                </ul>
            </nav>
            <h1>Workout</h1>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    {% if not workout_done %}
                    <h2>Today's Workout</h2>
                    <h4>{{muscle_group}} Exercise</h4>
                    <table id="results">
                       <tr>
                            <pre style="text-align: left"><code>{% for w in workout.split("\r\n") %}<tr><td>{{w}}<br></td></tr>{% endfor %}</code></pre>
                       </tr>
                    </table>
                    <br>
                    <button type="button" class="btn btn-success">
                            <a href="workoutDone" style="color: rgb(255,255,255)">Done!</a> 
                        </button>
                    {% else %}
                    <h2>Congratulations!</h2>
                    <table>
                       <tr>
                            <th>You finished today's workout!</th>
                       </tr>
                       <tr>
                            <td><pre>Remember to hydrate and rest!</pre></td>
                       </tr>
                    </table>
                    {% endif %}
                </div>
                <div class="col-md-6 col-lg-6">
                    <h2>Alternate Workouts</h2>
                    {% if alternate_chosen %}
                    Completed ==> {{alternate}}

                    {% else %}
                    <div class="row">
                        <button type="button" class="btn btn-success">
                            <a href="edit_workouts"  style="color: rgb(255,255,255)">Add workout</a>
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>    
        </div>


        <div class="jumbotron">
        <h2>Motivation</h2>
        <table>

           <tr>
                <th>{{quote}}</th>
           </tr>

        </table>
        </div>

        <footer class="footer">
            <p>&copy; O.K 2019</p>
        </footer>

    </div>
</form>
</body>

</html>